/.vs/
/HDNXUdemy/bin
/HDNXUdemy/obj/
/HDNXUdemyAPI/bin/
/HDNXUdemyAPI/obj/
/HDNXUdemyConvertVideoAPI/bin/
/HDNXUdemyConvertVideoAPI/obj
/HDNXUdemyConvertVideoAPI/wwwroot/SoftwareAndFile/
/HDNXUdemyConvertVideoAPI/wwwroot/StorageStreamVideo/
/HDNXUdemyServices/obj/
/HDNXUdemyModel/obj/
/HDNXUdemyModel/bin
/HDNXUdemyServices/bin
/HDNXUdemyConvertVideoAPI/wwwroot/StorageMainVideo
/HDNXUdemyServices/bin
/HDNXUdemyServices/bin
/HDNXUdemyServices/bin
/HDNXUdemyServices/bin
/HDNXUdemyServices/bin
/HDNXUdemyServices/bin
/HDNXUdemyServices/bin/
/HDNXUdemyServices/bin
/HDNXUdemyServices/bin
/HDNXUdemyServices/bin/Debug/net7.0/HDNXUdemyServices.pdb
